<div class="col-md-4 col-sm-8 col-xs-12">
	{{#js-feedback-message isShowed=message.show timer=message.timer type=message.type hasCloseButton=false}}
		{{message.text}}
	{{/js-feedback-message}}
	<label>{{t "site.group"}}:</label>
	{{#if hasWriteAccess}}
		{{js-select
			selectedValue=model.group
			content=listGroupsFiltered
			label='path_name'
			prompt="Select group"
			class="form-control"
			}}
	{{else}}
		<span>{{parent.path_name}}</span>
	{{/if}}<br/>
	<label>{{t "site.name"}}:</label>{{input type="text" value=model.name class="form-control"}}<br />
	<label>{{t "site.description"}}:</label><br />{{textarea value=model.description class="form-control"}}<br />
	<label>{{t "site.url"}}:</label>{{input type="text" value=model.url class="form-control"}}<br />
	<label>{{t "site.user"}}:</label>{{input type="text" value=model.user class="form-control"}}<br />
	<label>{{t "site.password"}}:</label><br/>
	{{#if showPassword}}
		{{input type="text" value=decypherPassword class="form-control"}}
	{{else}}
		<button {{action "showPassword"}} class="btn btn-danger">{{t "site.edit.show-password"}}</button>
	{{/if}}
	{{#copy-button
	clipboardText=decypherPassword
	success="success"
	error="error"
	class="btn btn-default"
	}}
		{{t "site.edit.copy-password"}}
	{{/copy-button}}
	<button {{action "save"}} class="btn btn-primary">{{t "application.actions.save"}}</button>
</div>