<div class="col-md-4 col-sm-8 col-xs-12">
	<label>{{t "site.group"}}:</label>
	{{view "select" value=model.group
				selection=model.group
				optionLabelPath='content.path_name'
				optionValuePath='content'
				content=listGroups
				prompt="Select group"
				class="form-control"
				}}<br/>
	<label>{{t "site.name"}}:</label>{{input type="text" value=model.name class="form-control"}}<br />
	<label>{{t "site.description"}}:</label><br />{{textarea value=model.description class="form-control"}}<br />
	<label>{{t "site.url"}}:</label>{{input type="text" value=model.url class="form-control"}}<br />
	<label>{{t "site.user"}}:</label>{{input type="text" value=model.user class="form-control"}}<br />
	<label>{{t "site.password"}}:</label>{{input type="text" value=model.password class="form-control"}}<br />
	<button {{action "save"}} class="btn btn-primary">{{t "application.actions.save"}}</button>
</div>