<div class="admin">
	<h4>{{t 'admin.keys.current'}}</h4>
	<pre class="show-key">{{symmetricCurrentKey}}</pre>
	<h4>{{t 'admin.keys.ivNew'}}</h4>
	<pre class="show-key">{{ivRandom}}</pre>
	<h4>{{t 'admin.keys.new'}}</h4>
	<pre class="show-key">{{symmetricNewKey}}</pre>
</div>
