<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
	<div class="right">
		<button {{action "prevPage"}} class='btn btn-default'>{{t "list.pagination.previous"}}</button>
		<button {{action "nextPage"}} class='btn btn-default'>{{t "list.pagination.next"}} </button>
	</div>
	{{#link-to "site.new" tagName="button" class='btn btn-primary'}}{{t "site.create"}}{{/link-to}}
	<table class="table table-striped">
		<thead>
		<tr>
			<th>{{t "site.group"}}</th>
			<th>{{t "site.name"}}</th>
			<th>{{t "site.description"}}</th>
		</tr>
		</thead>
		<tbody>
		{{#each site in model}}
			{{#link-to 'site.edit' site.id tagName='tr'}}
				<td>{{site.group.name}}</td>
				<td>{{site.name}}</td>
				<td>{{site.description}}</td>
			{{/link-to}}
		{{/each}}
		</tbody>
	</table>
</div>
{{outlet}}