{{#link-to 'site' (query-params group=model.id)  bubbles=false tagName="li" class="node"}}
	{{#if (is-equal model.myPermission 3)}}
	<div class="actions">
		{{#link-to "group.edit" model bubbles=false class="text-primary edit"}}<span class="glyphicon glyphicon-pencil"></span>{{/link-to}}
		<button {{action "remove" model bubbles=false}} class="text-danger edit"><span class="glyphicon glyphicon-remove"></span></button>
	</div>
	{{/if}}
	{{#if has_children}}
		<button {{action "expand" bubbles=false}} class="tree">
			{{#if expanded}}
				<span class="glyphicon glyphicon-chevron-down"></span>
			{{else}}
				<span class="glyphicon glyphicon-chevron-right"></span>
			{{/if}}
		</button> {{model.name}}
		{{#if expanded}}
			<ul class="tree">
				{{#each model.children as |child|}}
					{{render "tree-node" child}}
				{{/each}}
			</ul>
		{{/if}}
	{{else}}
		<span>{{model.name}}</span>
	{{/if}}

{{/link-to}}