{{#link-to 'site' (query-params group=model.id)  bubbles=false tagName="li" class="node"}}
	{{#if has_children}}

		<button {{action "expand" bubbles=false}} class="tree">
			{{#if expanded}}-{{else}}+{{/if}}
		</button> {{model.name}}
		{{#link-to "group.edit" model bubbles=false class="btn btn-default edit"}}{{t "application.actions.edit"}}{{/link-to}}
		{{#if expanded}}
			<ul class="tree">
				{{#each child in model.children}}
					{{render "tree-node" child}}
				{{/each}}
			</ul>
		{{/if}}
	{{else}}
		<span>{{model.name}}</span>
		{{#link-to "group.edit" model bubbles=false class="btn btn-default edit"}}{{t "application.actions.edit"}}{{/link-to}}
	{{/if}}

{{/link-to}}