{{#link-to 'site' (query-params group=model.id)  bubbles=false tagName="li" class="node"}}
	{{#if has_children}}
		{{#if expanded}}
			<button {{action "hide" bubbles=false}}>
				-
			</button> {{model.name}} <ul class="tree">
				{{#each child in model.children}}
					{{render "tree-node" child}}
				{{/each}}
			</ul>
		{{else}}
			<button {{action "expand" bubbles=false}}>
				+
			</button>{{model.name}}
		{{/if}}
	{{else}}
		<span>{{model.name}}</span>
	{{/if}}
{{/link-to}}